{% import _self as m %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
        <link rel="icon" href="{{nav.basePath}}/ui/favicon.ico" type="image/x-icon">

        <title>{{title|default(controller.title|default('Renogen'))}}</title>

        <link rel="stylesheet" type="text/css" href="{{nav.basePath}}/ui/semantic2/semantic.css" />

        <script src="{{nav.basePath}}/ui/jquery/jquery-2.1.3.min.js"></script>
        <script src="{{nav.basePath}}/ui/jquery/jquery.address.js"></script>
        <script src="{{nav.basePath}}/ui/jquery/jquery.stickytableheaders.js"></script>
        <script src="{{nav.basePath}}/ui/semantic2/semantic.js"></script>
        <script src="{{nav.basePath}}/ui/semantic2/library/jquery.tablesort.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
        <script>
            function dateParser(text) {
                if (!text) {
                    return null;
                }
                var dateArray = null;
                switch (text.length) {
                    case 19:
                        var reggie = /^(\d{2})\/(\d{2})\/(\d{4}) (\d{2}):(\d{2}) (\w{2})/;
                        dateArray = reggie.exec(text);
                        if (dateArray[4] != 12 && dateArray[6] == 'PM') {
                            dateArray[4] = parseInt(dateArray[4]) + 12 + "";
                        } else if (dateArray[4] == 12 && dateArray[6] == "AM") {
                            dateArray[4] = "00";
                        }
                        break;

                    case 10:
                        var reggie = /^(\d{2})\/(\d{2})\/(\d{4})/;
                        dateArray = reggie.exec(text);
                        dateArray[4] = "00";
                        dateArray[5] = "00";
                        break;

                    case 7:
                    case 8:
                        var reggie = /^(\d{1,2}):(\d{2}) (\w{2})/;
                        var timeArray = reggie.exec(text);
                        var today = new Date();
                        dateArray = [
                            '', today.getFullYear(), today.getMonth() + 1, today.getDate(), timeArray[1], timeArray[2]
                        ];
                        if (timeArray[3] == 'PM') {
                            dateArray[4] = parseInt(dateArray[4]) + 12 + "";
                        } else if (timeArray[1] == 12) {
                            dateArray[4] = "00";
                        }
                        break;

                    default:
                        return new Date();
                }
                var dateObject = new Date(
                        (+dateArray[3]),
                        (+dateArray[2]) - 1, // Careful, month starts at 0!
                        (+dateArray[1]),
                        (+dateArray[4]),
                        (+dateArray[5])
                        );
                return dateObject;
            }
            function dateFieldConfig(minDate, mode) {
                var cfg = {
                    type: mode ? mode : 'datetime',
                    //today: true,
                    className: {
                        todayCell: 'ui header today'
                    },
                    formatter: {
                        date: function (date, settings) {
                            if (!date)
                                return '';
                            var day = date.getDate();
                            var month = date.getMonth() + 1;
                            var year = date.getFullYear();
                            return ("00" + day).slice(-2) + '/' + ("00" + month).slice(-2) + '/' + year;
                        },
                        time: function (date, settings) {
                            if (!date)
                                return '';
                            var hour = date.getHours();
                            var ampm = '';
                            if (hour == 12) {
                                ampm = 'PM';
                            } else if (hour > 12) {
                                hour -= 12;
                                ampm = 'PM';
                            } else {
                                ampm = 'AM';
                                if (hour == 0) {
                                    hour = 12;
                                }
                            }
                            var minute = date.getMinutes();
                            return ("00" + hour).slice(-2) + ':' + ("00" + minute).slice(-2) + ' ' + ampm;
                        }
                    }
                    ,
                    parser: {
                        date: function (text, settings) {
                            return dateParser(text);
                        }
                    }
                };
                if (minDate !== null) {
                    cfg.minDate = minDate;
                }
                return cfg;
            }

            function showOverlay(text) {
                $('#overlayContent').text(text);
                $('#overlay').dimmer('show');
            }

            function hideOverlay() {
                $('#overlay').dimmer('hide');
            }

            function onResize() {
                var gap = $('#topbar').outerHeight(true);
                $('#topfiller').css('height', gap);
                $('#topmargin').css('marginTop', gap).css('height', $('body').height() - gap);
            }

            function markdownParseMermaid(elem) {
                $('pre > code[class=language-mermaid]', elem).each(function () {
                    var renderArea = $(this).parent();
                    var mermaidCode = $(this).text();
                    try {
                        if (mermaid.parse(mermaidCode)) {
                            mermaid.mermaidAPI.render('mermaid-' + Math.random().toString(36).substr(2, 5), mermaidCode, function (svg) {
                                renderArea.html(svg);
                            });
                        }
                    } catch (error) {
                        renderArea.toast({
                            class: 'warning',
                            showIcon: false,
                            showProgress: 'top',
                            progressUp: true,
                            message: 'Mermaid parse error: <pre>' + error.str + '</pre>'
                        });
                    }
                });
            }

            $(function () {
                onResize();
                $(window).resize(onResize);
                $('.tabular.menu .item').tab({
                    history: true,
                    historyType: 'hash'
                });
                $('table.sortable').tablesort();
                $('table.fixedheader').stickyTableHeaders({
                    fixedOffset: $('#topbar')
                });
                $('.ui.checkbox').checkbox();
                $('.ui.dropdown.button').dropdown();
                $('.ui.dropdown.action-nothing').dropdown({
                    action: 'nothing'
                });
                $('.ui.dropdown:not(.action-nothing):not(.button)').dropdown({
                    fullTextSearch: true,
                    clearable: true
                });
                $('.ui.accordion').accordion();
                $('.flash.message:not(.error,.persist)').delay(10000).animate({
                    height: 0,
                    opacity: 0,
                    marginTop: 0, marginBottom: 0,
                    paddingTop: 0, paddingBottom: 0
                }, 'slow', function () {
                    $(this).hide();
                });

                $('#overlay').dimmer({
                    closable: false
                });

                mermaid.initialize({startOnLoad: false});
                markdownParseMermaid('body');
            });

            function form_disabler(form) {
                setTimeout(() => {
                    $('button,input').attr('disabled', 'disabled');
                    $('a[class*=button]').addClass('disabled');
                }, 0);
                $(form).submit(() => event.preventDefault());
            }
        </script>
        {% for js in extra_js|default([]) %}<script src="{{js}}"></script>{% endfor %}
        {% for css in extra_css|default([]) %}<link rel="stylesheet" type="text/css" href="{{css}}" />{% endfor %}
        <style>
            #topbar {
                position: fixed;
                z-index: 101;
                margin: 0;
                width: 100%; 
                top: 0px; left: 0px; right: auto; bottom: auto; 
                color: black
            }

            #topmenu {
                margin: 0em; 
                letter-spacing: 0.75pt; 
                border-radius: 0px;
                box-shadow: inset 0px -3px 0px rgba(191,191,191,0.5);
            }

            .breadcrumb {
                font-size: 75%;
            }

            .nowrap {
                white-space: nowrap;
            }

            a.anchor[name] {
                position: relative;
                top: -60px;
            }

            @media print
            {
                .no-print, .no-print *
                {
                    display: none !important;
                }
            }

            .blink {
                animation-duration: 1s;
                animation-name: blink;
                animation-iteration-count: infinite;
                animation-timing-function: steps(2, start);
            }
            @keyframes blink {
                80% {
                    visibility: hidden;
                }
            }

            @media only screen and (max-width: 767px) {
                .hide-on-mobile {
                    display: none !important;
                }
            }

            @media only screen and (min-width: 768px) {
                .show-on-mobile-only {
                    display: none !important;
                }
            }
        </style>
        {% block head %}{% endblock %}
    </head>
    <body>
        <div style="min-height: 100%; position: relative;">
            {% block topbar %}
                <div id="topbar" class="no-print">
                    <div id="topmenu" class="ui stackable menu inverted purple">
                        <div class="ui title item" style="padding:8px">
                            <a style="padding: 0 30pt 0 0;" href="{{ nav.path('app_home') }}">
                                {% block menutitle %}
                                    {% if controller.appLogo %}
                                        <img src="{{nav.basePath}}{{ controller.appLogo }}" alt="Renogen" />
                                    {% else %}
                                        <h3 style="padding: 8px;">
                                            {% if controller.appIcon %}<i class="ui {{ controller.appIcon }} icon"></i>{% endif %}
                                            {{ controller.appTitle }}
                                        </h3>
                                    {% endif %}
                                {% endblock %}
                            </a>
                        </div>
                        {% block menubar %}
                        {% endblock %}
                        <div class="right menu">
                            {% block menuright %}
                            {% endblock %}
                            {% if security.isGranted('IS_AUTHENTICATED_FULLY') %}
                                <div class="ui dropdown item">
                                    <i class="ui user icon"></i> {{ds.currentUserEntity().getName()}}
                                    <i class="dropdown icon"></i>
                                    <div class="menu">
                                        {% block usermenu %}
                                        {% endblock %}
                                        {{ m.topmenu_item('Profile', nav.path('app_profile'), 'id badge') }}
                                        {{ m.topmenu_item('Logout', nav.path('app_logout'), 'sign out') }}
                                        <div class="ui divider"></div>
                                        {{ m.topmenu_item('About Renogen', nav.path('app_about'), 'help') }}
                                        {% if security.isGranted('ROLE_ADMIN') %}
                                            <div class="ui divider"></div>
                                            <div class="header">Administrations</div>
                                            {{ m.topmenu_item('Create Project', nav.path('app_project_create'), 'cube') }}
                                            {{ m.topmenu_item('Manage Users', nav.path('app_admin_users'), 'users') }}
                                            {{ m.topmenu_item('Manage Authentication', nav.path('app_admin_auth'), 'lock') }}
                                            {{ m.topmenu_item('View Archived Projects', nav.path('app_archived'), 'archive') }}
                                            {{ m.topmenu_item('View PHP Info', nav.path('app_admin_phpinfo'), 'php') }}
                                        {% endif %}
                                    </div>
                                </div>
                            {% else %}
                                <a href="{{nav.path('app_login')}}" class="ui link item"><i class="ui sign in icon"></i> Login</a>
                            {% endif %}
                        </div>
                    </div>
                    {% block belowtopmenu %}
                    {% endblock %}
                </div>
                <div id="topfiller" class="no-print"></div>
            {% endblock %}

            {% for type,messages in app.flashes %}
                {% for message in messages %}
                    <a class="ui floating {% if type == 'persistent' %}info persist{% else %}{{type}}{% endif %} flash message" style="display:block; margin:1em" onclick="javascript:$(this).fadeOut()">
                        {% if false %}
                            <div class="header">
                                {{message.title}}
                            </div>
                        {% endif %}
                        <p>{{message|nl2br}}</p>
                    </a>
                {% endfor %}
            {% endfor %}

            {% block container %}
                <div class="ui basic segment" style="padding-bottom: 100px;">
                    {% block content %}
                        {{content|default(null)|raw}}
                    {% endblock %}
                </div>
            {% endblock %}

            {% if block('footer')|trim is not empty %}
                <div class="ui basic segment" style="height: 100px; width:100%; position: absolute; bottom: 0; left: 0; clear:both">
                    <div class="ui divider"></div>
                    {% block footer %}
                    {% endblock %}
                </div>
            {% endif %}
        </div>

        <div id="overlay" class="ui page dimmer">
            <div id="overlayContent" class="content"></div>
        </div>
    </body>
</html>

{% macro topmenu_item(text, url, icon, extra_classes) %}
    <a class="ui link item {{extra_classes|default(null)}}" href="{{url}}">
        {% if icon %}<i class="ui {{icon}} icon"></i>{% endif %}{{text}}
    </a>
{% endmacro %}

{% macro topmenu_dropdown_begin(text, icon) %}
    <div class="ui dropdown item">
        {% if icon is defined %}<i class="ui {{icon}} icon"></i>{% endif %}
        {{text}}
        <i class="dropdown icon"></i>
        <div class="ui menu inverted">
        {% endmacro %}

        {% macro topmenu_dropdown_end() %}
        </div>
    </div>
{% endmacro %}

{% macro fieldError(errors, fieldname, pointing) %}
    {% if errors[fieldname] is defined %}
        {% if errors[fieldname] is iterable %}
            {% for error in errors[fieldname] %}
                <div class="ui negative red label {{pointing}} pointing">{{error}}</div>
            {% endfor %}
        {% else %}
            <div class="ui negative red label {{pointing}} pointing">{{errors[fieldname]}}</div>
        {% endif %}
    {% endif %}
{% endmacro %}

{% macro dateField(id, name, value, placeholder, mode, minDate) %}
    <div class="ui calendar" id="{{id}}">
        <div class="ui input left icon action">
            <i class="calendar icon"></i>
            <input type="text" name="{{name}}" placeholder="{{placeholder}}" value="{{value}}" autocomplete="off" />
            <button class="ui button" type="button" onclick="return $('#{{id}}').calendar('clear');">Clear</button>
        </div>
        {% if value %}
            <div>Current value = <a href="#" onclick="return $('#{{id}}').calendar('set date', '{{value}}');">{{value}}</a></div>
            {% endif %}
    </div>
    <script>
        $(function () {
            $('#{{id}}').calendar(dateFieldConfig(null, {{mode|default('datetime')|json_encode|raw}}));
        });
    </script>
{% endmacro %}

{% macro displayDateTime(datetime) %}
    {% set time = datetime|date('h:i A') %}
    <span class="nowrap">{{ datetime|date('d/m/Y') }}</span>
    {% if time != '12:00 AM' %}
        <span class="nowrap">{{ time }}</span>
    {% endif %}
{% endmacro %}
