{% extends "renobase.html.twig" %}

{% block content %}
    {% set is_existing = (deployment.id|default(null) is not empty) %}
    <h1 class="ui header">
        <div class="breadcrumb">
            <span>{{_self.crumb_project(deployment.project, true)}} &raquo;</span>
        </div>
        {% if is_existing %}Edit{% else %}Create{% endif %} deployment
    </h1>

    {% if errors|default(false) %}
        <div class="ui error message">
            Your input requires your further attention. Please inspect any messages below.
        </div>
    {% endif %}

    <form method="POST">
        <div class="ui form">
            <div class="ui required field basic segment">
                <label class="ui top attached large label">Deployment Date</label>
                {{ _self.dateField('execute_date','execute_date',(deployment.execute_date|default(false) ? deployment.execute_date|date('d/m/Y h:i A') : null),'Deployment date', 'datetime') }}
                {{ _self.fieldError(errors|default([]), 'execute_date') }}
            </div>
            <div class="ui required field basic segment">
                <label class="ui top attached large label">Title</label>
                <input placeholder="User friendly deployment title (max 100 characters)" type="text" name="title" value="{{deployment.title|default(null)}}" />
                {{ _self.fieldError(errors|default([]), 'title') }}
            </div>
            <div class="ui field basic segment">
                <label class="ui top attached large label">Description</label>
                <textarea name="description" rows="3">{{deployment.description|default(null)}}</textarea>
                {{ _self.fieldError(errors|default([]), 'description') }}
            </div>
            <div class="ui field basic segment">
                <label class="ui top attached large label">Duration</label>
                <div>
                    <div class="ui field basic segment">
                        <div id="deployment_duration_slider" class="ui labeled ticked slider"></div>
                        <input id="deployment_duration_input" type="hidden" value="{{ deployment.duration|abs }}" name="duration" />
                    </div>
                    How long (in hours) this deployment will be running.
                </div>
                <script>
                    $(function () {
                        $('#deployment_duration_slider').slider({
                            min: 1,
                            max: 12,
                            smooth: true,
                            start: {{ deployment.duration|abs }},
                            onChange: function (v) {
                                $('#deployment_duration_input').val(v);
                            }
                        });
                    });
                </script>
            </div>
            <div class="ui basic segment stackable grid">
                <div class="ui ten wide column field">
                    <label class="ui top attached large label">External URL</label>
                    <input placeholder="External URL for this deployment (if any)" type="text" name="external_url" value="{{deployment.external_url|default(null)}}" />
                    {{ _self.fieldError(errors|default([]), 'external_url') }}
                </div>
                <div class="ui six wide column field">
                    <label class="ui top attached large label">External URL Label</label>
                    <input placeholder="Label for external URL (default to 'External URL' if empty)" type="text" name="external_url_label" value="{{deployment.external_url_label|default(null)}}" />
                    {{ _self.fieldError(errors|default([]), 'external_url_label') }}
                </div>
            </div>
            <div class="ui field">
                <input type="submit" class="ui submit primary button" name="_action" value="{% if is_existing %}Save{% else %}Create{% endif %} deployment" />
                <a href="{{cancel_path|default('javascript:window.history.go(-1)')}}" class="ui secondary button">Cancel</a>
                {% if is_existing %}
                    <input type="submit" class="ui red right floated button" name="_action" value="Delete"
                           onclick="return confirm('Are you sure you want to delete?')" />
                {% endif %}
            </div>
        </div>
    </form>
{% endblock %}