{% extends "renobase.html.twig" %}

{% block content %}
    <div class="ui top attached tabular secondary pointing menu">
        {% if upcoming_deployments_hierarchy %}
            <div class="active item" data-tab="deployments">
                <h2 class="ui header">
                    <span>
                        <i class="ui calendar check o icon"></i> <span class="hide-on-mobile">Active Deployments</span>
                        <span class="ui circular large label">{{upcoming_deployments|length}}</span>
                    </span>
                </h2>
            </div>
        {% endif %}
        <div class="{% if not upcoming_deployments_hierarchy %}active{% endif %} item" data-tab="projects">
            <h2 class="ui header">
                <span>
                    <i class="ui cube icon"></i> <span class="hide-on-mobile">Projects</span>
                    <span class="ui circular large label">{{projects_with_access|length}}</span>
                </span>
            </h2>
        </div>
        {% if need_actions %}
            <div class="item" data-tab="actions">
                <h2 class="ui header">
                    <span>
                        <i class="ui warning icon"></i> <span class="hide-on-mobile">Actions Needed</span>
                        <span class="ui circular large label">{{need_actions|length}}</span>
                    </span>
                </h2>
            </div>
        {% endif %}
    </div>

    {% if upcoming_deployments_hierarchy %}
        {% set now = 'now'|date('U') %}
        <div class="ui tab basic segment active" data-tab="deployments">
            <table class="ui very basic table">
                <tbody>
                    {% for dd,do in upcoming_deployments_hierarchy %}
                        {% for dt,do2 in do %}
                            <tr>
                                <td class="ui top aligned collapsing{% if dt <= now %} blink{% endif %}">
                                    <h3>
                                        {{ dd|date('d/m/Y') }}
                                        {{ dt|date('h:i A') }}
                                    </h3>
                                    {% if dt > now %}
                                        {% set difference = date(dt).diff(date(now)) %}
                                        <div>
                                            {% if difference.days > 0 %}
                                                <strong>{{ difference.days }}</strong> day{% if difference.days > 1 %}s{% endif %}
                                            {% endif %}
                                            {% if difference.h > 0 %}
                                                <strong>{{ difference.h }}</strong> hour{% if difference.h > 1 %}s{% endif %}
                                            {% endif %}
                                            {% if difference.i > 0 %}
                                                <strong>{{ difference.i }}</strong> minute{% if difference.i > 1 %}s{% endif %}
                                            {% endif %}
                                            left
                                        </div>
                                    {% else %}
                                        <strong>In progress</strong>
                                    {% endif %}
                                </td>
                                <td>
                                    {% for deployment in do2 %}
                                        <div class="ui red fluid card">
                                            <div class="content">
                                                <div class="ui header">
                                                    <span>
                                                        {{_self.crumb_project(deployment.project, true)}}
                                                    </span>
                                                    &raquo;
                                                    <span>
                                                        <i class="calendar check o icon"></i>
                                                        <a href="{{nav.entityPath('app_deployment_view',deployment)}}">
                                                            {{ deployment.title }}
                                                        </a>
                                                    </span>
                                                </div>
                                                {{ _self.deploymentItemList(deployment) }}
                                            </div>
                                        </div>
                                    {%  endfor %}
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}

    <div class="ui tab basic segment {% if not upcoming_deployments_hierarchy %}active{% endif %}" data-tab="projects">
        {% if projects_with_access|length > 0 %}
            <table class="ui large padded striped sortable purple fluid selectable table">
                <thead>
                    <tr>
                        <th><i class="ui icon star"></i></th>
                        <th>Project</th>
                        <th class="ui collapsing">Upcoming</th>
                        <th class="ui collapsing">Previous</th>
                        <th class="ui collapsing">Role</th>
                    </tr>
                </thead>
                <tbody>
                    {% for project in projects_with_access %}
                        <tr>
                            {% set isfav = project.userProject(ds.currentUserEntity()).fav|default(0) %}
                            <td class="ui collapsing" data-sort-value="{{ isfav }}">
                                <div class="ui yellow rating favorite-project" data-rating="{{ isfav }}" data-project="{{project.name}}"></div>
                            </td>
                            <td data-sort-value="{{ project.title }}">
                                <a href="{{nav.entityPath('app_project_view', project)}}" title="{{project.description}}">
                                    <h2 class="nowrap">
                                        <i class="ui {{project.icon}} icon" title="Project"></i> 
                                        {{project.title}}
                                        {% if project.private %}
                                            <i class="ui small lock icon" title="Private project"></i>
                                        {% endif %}
                                    </h2>
                                </a>
                            </td>
                            {%  if project.upcoming()|length > 0 %}
                                {% set upcoming = project.upcoming()[0] %}
                                <td data-sort-value="{{ upcoming.execute_date.getTimestamp() }}">
                                    <a href="{{nav.entityPath('app_deployment_view',upcoming)}}" title="{{ upcoming.title }}">
                                        <strong{% if upcoming.isRunning() %} class="blink"{% endif %}>{{ _self.displayDateTime(upcoming.execute_date) }}</strong>
                                    </a>
                                </td>
                            {% else %}
                                <td data-sort-value="0" class="ui center aligned">
                                    {% if security.isGranted('approval',project) and not project.archived %}
                                        <a href="{{nav.entityPath('app_deployment_create',project)}}" class="ui button no-print nowrap">
                                            <i class="ui plus icon"></i>Create new
                                        </a>
                                    {% elseif security.isGranted('entry',project) and not project.archived %}
                                        <a href="{{nav.entityPath('app_project_view',project,[],'/requests')}}" class="ui button no-print nowrap">
                                            <i class="ui calendar plus icon"></i>Request
                                        </a>
                                    {% else %}
                                        <span class="ui basic label">N/A</span>
                                    {% endif %}
                                </td>
                            {% endif %}
                            {%  if project.past()|length > 0 %}
                                {% set past = project.past()[0] %}
                                <td data-sort-value="{{ past.execute_date.getTimestamp() }}">
                                    <a href="{{nav.entityPath('app_deployment_view',past)}}" title="{{ past.title }}"><strong>{{ _self.displayDateTime(past.execute_date) }}</strong></a>
                                </td>
                            {% else %}
                                <td data-sort-value="0" class="ui center aligned">
                                    <span class="ui basic label">N/A</span>
                                </td>
                            {% endif %}
                            {% set role_icon = {'view':'thermometer empty','execute':'thermometer quarter','entry':'thermometer half','review':'thermometer three quarters','approval':'thermometer full'} %}
                            {% set role_value = {'view':0,'execute':1,'entry':2,'review':3,'approval':4} %}
                            {% set role = project.getUserAccess(ds.currentUserEntity())|default('view') %}
                            <td class="ui collapsing" data-sort-value="{{ role_value[role] }}">
                                <i class="ui {{role_icon[role]}} icon"></i> {{ role }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <script>
                $('.ui.favorite-project')
                        .rating({
                            clearable: true,
                            maxRating: 1,
                            onRate: function (value) {
                                $(this).parent('td').data().sortValue = value;
                                var url = {{ nav.url('app_fav', {'project':'_PROJECT_', 'value':'_VALUE_'} ) | json_encode | raw }};
                                        url = url.replace('_PROJECT_', $(this).attr('data-project'));
                                url = url.replace('_VALUE_', value);
                                $.ajax(url);
                                //console.log(url);
                            }
                        });
            </script>
        {% endif %}
        {% if projects_no_access|length > 0 %}
            <div class="hide-on-mobile">
                <div class="ui divider"></div>
                <p>
                    <strong>You do not have access to the following projects but you can request access from the users with approval role as listed for each project, or from an administrator</strong>
                </p>
                <div class="ui three stackable cards">
                    {% for project in projects_no_access %}
                        <div class="ui card">
                            <div class="ui content">
                                <div class="ui purple header">
                                    <h3>
                                        <i class="ui {{project.icon}} icon"></i> 
                                        {{project.title}}
                                    </h3>
                                </div>
                                {% if project.description %}
                                    <div class="ui description">
                                        {{project.description}}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="extra content">
                                <div class="ui meta">
                                    {% for u in project.usersWithRole('approval') %}
                                        <span class="nowrap"><i class="ui id badge outline icon"></i> {{ u.shortname }}</span>
                                    {% else %}
                                        <div>Please request access from admin</div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>
    {% if need_actions %}
        <div class="ui tab basic segment" data-tab="actions">
            <div class="ui raised cards yellow">
                {% for d in need_actions %}
                    <div class="ui fluid card" style="background-color: #ffffcc">
                        <div class="ui content">
                            <h4>
                                <span><i class="ui {{d.deployment.project.icon}} icon" title="Project"></i> {{ d.deployment.project.title }} &raquo;</span>
                                <span class="nowrap"><i class="ui calendar check o icon" title="Deployment"></i> <a href="{{ nav.entityPath('app_deployment_view', d.deployment) }}">{{ _self.displayDateTime(d.deployment.execute_date) }}</a></span>
                            </h4>
                            <div class="ui celled list">
                                {% if d.items|length > 10 %}
                                    <div class="item">Showing 10 of {{ d.items|length }} items only</div>
                                {% endif %}
                                {% for item in d.items %}
                                    {% if loop.index0 < 10 %}
                                        <a class="item" href="{{ nav.entityPath('app_item_view', item) }}">
                                            <i class="flag icon" title="{{ item.status }}"></i>
                                            <div class="content">
                                                <div class="header">{{ item.title }}</div>
                                                <div class="description">{{ item.status }}</div>
                                                <div class="description">
                                                    <i class="add to cart icon" title="Activities"></i>{{ item.activities|length }} &nbsp;
                                                    <i class="attach icon" title="Attachments"></i>{{ item.attachments|length }} &nbsp;
                                                    <i class="comments icon" title="Comments"></i>{{ item.comments|length }}
                                                </div>
                                            </div>
                                        </a>
                                    {% endif %}
                                {% endfor %}
                                {% if d.checklists|length > 10 %}
                                    <div class="item">Showing 10 of {{ d.checklists|length }} tasks only</div>
                                {% endif %}
                                {%  for checklist in d.checklists %}
                                    {% if loop.index0 < 10 %}
                                        <a class="item" href="{{ nav.entityPath('app_checklist_edit', checklist) }}#checklist">
                                            <i class="tasks icon" title="Checklist Task"></i>
                                            <div class="content">
                                                <div class="header">{{ checklist.title }}</div>
                                                <div class="description">{{ checklist.status }}</div>
                                                <div class="description">{{ checklist.start_datetime|date('d-m-Y h:i A') }}</div>
                                            </div>
                                        </a>
                                    {% endif %}
                                {% endfor %}
                                {% if d.activities|length > 10 %}
                                    <div class="item">Showing 10 of {{ d.activities|length }} activities only</div>
                                {% endif %}
                                {%  for activity in d.activities %}
                                    {% if loop.index0 < 10 %}
                                        <a class="item" href="{{ nav.entityPath('app_runbook_view', d.deployment) }}">
                                            <i class="cloud upload icon" title="{{ activity.status }}"></i>
                                            <div class="content">
                                                <div class="header">{{ activity.template.title }}</div>
                                                <div class="description">{{ activity.runitems|length }} pending</div>
                                            </div>
                                        </a>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock %}
