{% extends "renobase.html.twig" %}
{% set is_project_admin = security.isGranted('ROLE_ADMIN') or security.isGranted('approval',project) %}

{% block content %}
    {% if project.archived %}
        <div class="ui icon warning message">
            <i class="archive icon"></i>
            <div class="content">
                <div class="header">
                    This is an archived project.
                </div>
            </div>
        </div>
    {% endif %}

    <h1 class="ui header">
        <span>
            <i class="ui {{project.icon}} icon" title="Project"></i>{{project.title}}
        </span>
        {% set isfav = project.userProject(ds.currentUserEntity()).fav|default(0) %}
        <span class="ui basic circular label">
            <div class="ui yellow rating favorite-project" data-rating="{{ isfav }}" data-project="{{project.name}}"></div>
            <span id="star-count">{{ project.starCount() }}</span>
        </span>
        <script>
            $('.ui.favorite-project')
                    .rating({
                        clearable: true,
                        maxRating: 1,
                        onRate: function (value) {
                            var url = {{ nav.url('app_fav', {'project':'_PROJECT_', 'value':'_VALUE_'} ) | json_encode | raw }};
                                    url = url.replace('_PROJECT_', $(this).attr('data-project'));
                            url = url.replace('_VALUE_', value);
                            $.ajax(url).done(function (ret) {
                                $('#star-count').text(ret);
                            });
                            //console.log(url);
                        }
                    });
        </script>
        {% if is_project_admin %}
            <div class="ui right floated buttons no-print">
                <a class="ui button" href="{{nav.entityPath('app_project_edit',project)}}"><i class="ui pencil icon"></i>Edit</a>
                <div class="ui floating dropdown icon button">
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a class="ui item" href="{{nav.entityPath('app_template_list',project)}}"><i class="ui clipboard icon"></i>Activity Templates</a>
                        <a class="ui item" href="{{nav.entityPath('app_plugin_index',project)}}"><i class="ui plug icon"></i>Plugins</a>
                        <a class="ui item" href="{{nav.entityPath('app_project_users',project)}}"><i class="ui users icon"></i>Users</a>
                        <a class="ui item" href="{{nav.entityPath('app_project_contrib',project)}}"><i class="ui hands helping icon"></i>Contributions</a>
                    </div>
                </div>
            </div>
        {% endif %}
    </h1>

    {{ _self.describe(project.description, 'project') }}
    <div style="clear: both" class="ui divider"></div>

    {% if is_project_admin and project.templates.count() == 0 %}
        <div class="ui error message">
            Warning: No activity template has been defined for this project. <a href="{{nav.entityPath('app_template_create',project)}}">Click here to add a new activity template</a>.
        </div>
    {% endif %}

    <div class="ui top attached tabular secondary pointing menu">
        <div class="active item" data-tab="upcoming">
            <h2 class="ui header">
                <span>
                    <i class="ui clock outline icon"></i><span class="hide-on-mobile">Upcoming Deployments</span>
                    <span class="ui circular large label">{{ project.upcoming().count() }}</span> 
                </span>
            </h2>
        </div>
        {% if security.isGranted(['entry','approval'],project) and not project.archived %}
            <div class="item" data-tab="requests">
                <h2 class="ui header">
                    <span>
                        <i class="ui calendar plus outline icon"></i><span class="hide-on-mobile">Deployment Requests</span>
                        <span class="ui circular large label">{{ project.upcomingDeploymentRequests().count() }}</span>
                    </span>
                </h2>
            </div>
        {% endif %}
        {% if project.past(10).count() > 0 %}
            <div class="item" data-tab="past">
                <h2 class="ui header">
                    <span>
                        <i class="ui history icon"></i><span class="hide-on-mobile">Past Deployments</span> 
                    </span>
                </h2>
            </div>
        {% endif %}
    </div>

    <div class="ui tab basic segment active" data-tab="upcoming">
        {% if security.isGranted('approval',project) and not project.archived %}
            <a class="ui primary button no-print" href="{{nav.entityPath('app_deployment_create',project)}}">
                <i class="ui clock outline icon"></i>Create Deployment
            </a>
        {% endif %}

        <div class="ui basic segment">
            {% if project.upcoming().count() > 0 %}
                {{ _self.deploymentList(project.upcoming()) }}
            {% else %}
                <div class="ui warning message">
                    <p>This project has no upcoming deployments.</p> 
                    {% if not project.archived %}
                        <p>A user with 'approval' role needs to create a new deployment:
                            {% set approvers = project.usersWithRole('approval') %}
                            {% if approvers|length > 0 %}
                                {% for u in approvers %}
                                    <span class="nowrap"><i class="ui id badge outline icon"></i> {{ u.shortname }}</span>
                                {% endfor %}
                            {% endif %}
                        </p>
                        <p>Or a user with 'entry' role can create a deployment request.</p>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>

    {% if security.isGranted(['entry','approval'],project) and not project.archived %}
        <div class="ui tab basic segment" data-tab="requests">
            <a class="ui primary button no-print" href="{{nav.entityPath('app_deployment_request_create',project)}}">
                <i class="ui calendar plus outline icon"></i>Create Deployment Request
            </a>
            <div class="ui basic segment">
                <table class="ui sortable orange striped table">
                    <thead>
                        <tr>
                            <th class="ui collapsing">Datetime</th>
                            <th>Title</th>
                            <th class="ui collapsing">Requested By</th>
                            <th class="ui collapsing">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for drequest in project.upcomingDeploymentRequests() %}
                            <tr>
                                <td class="ui collapsing" data-sort-value="{{ drequest.execute_date.getTimestamp() }}">{{ drequest.dateTimeString(true) }}</td>
                                <td>{{ drequest.title }}</td>
                                <td class="ui collapsing">{{ drequest.created_by.name }}</td>
                                <td class="ui collapsing">
                                    {% if drequest.status == 'Approved' %}
                                        {% if drequest.deployment %}
                                            <a href="{{nav.entityPath('app_deployment_view',drequest.deployment)}}">Approved</a>
                                        {% else %}
                                            {{ drequest.status }}
                                        {% endif %}
                                    {% else %}
                                        {{ drequest.status }}
                                        <div>
                                            {% if drequest.created_by == ds.currentUserEntity() %}
                                                <a class="ui icon button" title="Edit" href="{{nav.entityPath('app_deployment_request_edit',drequest)}}">
                                                    <i class="ui pencil icon"></i>
                                                </a>
                                            {% endif %}
                                            {% if security.isGranted('approval',project) %}
                                                <a class="ui icon button" title="Approve" href="{{nav.entityPath('app_deployment_request_approve',drequest)}}" onclick="return confirm('Approve this request and create a new deployment?')">
                                                    <i class="ui checkmark icon"></i>
                                                </a>
                                                {% if drequest.status != 'Rejected' %}
                                                    <a class="ui icon button" title="Reject" href="{{nav.entityPath('app_deployment_request_reject',drequest)}}" onclick="return confirm('Reject this request?')">
                                                        <i class="ui x icon"></i>
                                                    </a>
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                </td>
                            </tr>
                        {% else %}
                            <tr><td colspan="3">No future deployment request yet</td></tr>
                        {% endfor %} 
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}

    {% if project.past(10).count() > 0 %}
        <div class="ui tab basic segment" data-tab="past">
            <h3>
                Showing up to last 10
            </h3>
            <a class="ui primary button no-print" href="{{nav.entityPath('app_project_past',project)}}"><i class="ui history icon"></i>Show all past deployments</a>
            <div class="ui basic segment">
                {{ _self.deploymentList(project.past(10)) }}
            </div>
        </div>
    {% endif %}

{% endblock %}

{% macro deploymentList(deployments,simple) %}
    <div class="ui {%if deployments|length > 1 %}two{% else %}one{% endif %} stackable cards">
        {% for deployment in deployments %}
            <div class="ui purple card">
                <div class="content">
                    <a class="ui header" href="{{nav.entityPath('app_deployment_view',deployment)}}" title="{{ deployment.description }}">
                        <span class="ui right floated{% if deployment.isRunning() %} blink{% endif %}">
                            {{ _self.displayDateTime(deployment.execute_date) }}
                        </span>
                        <i class="calendar check o icon"></i>
                        <div class="content">
                            {{ deployment.title }}
                        </div>
                    </a>
                    {{ _self.deploymentItemList(deployment, simple) }}
                </div>
            </div>
        {% endfor %}
    </div>
{% endmacro %}
